[submodule "estimate-all-the-lwe-ntru-schemes.github.io"]
	path = estimate-all-the-lwe-ntru-schemes.github.io
	url = https://github.com/estimate-all-the-lwe-ntru-schemes/estimate-all-the-lwe-ntru-schemes.github.io
